@use '../abstracts';

.section{
    &__account{
        font-family: abstracts.$Poppins;
        font-size: 0.9rem;

        .alert{
            position: relative;
            background-color: abstracts.$light-gray-bg;
            padding: 10px;
            left: -10px;
            min-width: 520px;
            width: calc(50vw + 20px);
        
            span{
                font-size: abstracts.$padding-md*0.8;
                letter-spacing: 1px;
                word-spacing: 2px;
                font-weight: 500;
            }
        
            p{
                opacity: 0.6;
                font-size: calc(abstracts.$padding-md - 4px);
            }
        }

        &__toggles{
            @include abstracts.flex-row(flex-start);
            border: solid 1px rgba(0,0,0,0.2);
            border-left: none;
            border-right: none;

            @include abstracts.disable-select;
            padding: 0 abstracts.$padding-md*7;

            [class$="__toggle"]{
                padding: abstracts.$padding-md*1.5 abstracts.$padding-md;
                opacity: 0.6;

                &.selected{
                    position: relative;
                    top: 1px;
                    opacity: 1;
                    border-bottom: solid 1px black;
                }

                &:hover{
                    opacity: 1;
                }
            }

        }

        &__content{            
            .update-profile-form, [class^="content__"][class$="__header"], .update-address-book, .update-payment-methods{
                @include abstracts.flex-column(center);
                padding: abstracts.$padding-md*3 0;

                border-bottom: solid 1px rgba(0,0,0,0.2);
            }

            .login-info, .personal-info, .add-address, [class^="content__"][class$="__header"]>h1, [class^="content__"][class$="__header"]>p, .credentials__button__wrapper, .identity__button__wrapper, form>[class*="__header"], [class$="__card"]{
                min-width: 500px;
                width: 50vw;
            }

            .update-profile-form, .update-address-book__country{
                input{
                    pointer-events: none;
                }
            }

            .update-profile-form, .update-address-book{  
                .disclaimer{
                    padding-top: 30px;
                }

                .input-wrapper{
                    min-width: 250px;
                    width: 100%;
                    position: relative;
                }
    
                .input-wrapper>div{
                    border-bottom: solid 1px rgba(0,0,0,0.5);
                }

                .input-wrapper:has(.hasError)>div{
                    border-bottom-color: #F95738;
                }

                .hasError{
                    line-height: 20px;
                    color: #F95738;
                    font-size: abstracts.$padding-md*0.8;
                    opacity: 1 !important;
                    width: fit-content;
                }

                input{
                    width: 100%;
                    border: none;
                    line-height: 25px;
                    outline: none;
                    background-color: abstracts.$light-bg;
                    font-family: abstracts.$Poppins;
                    font-size: abstracts.$padding-md*0.8;
                }
        
                input::placeholder{
                    opacity: 0;
                    transition: 0.2s;
                }
        
                input:focus::placeholder{
                    opacity: 0.6;
                }
        
                label{
                    font-size: abstracts.$padding-md*0.8;
                    transition: 0.2s;
                    opacity: 0.6;
                    line-height: 27px;
                    position: absolute;
                    top: 0;
                    pointer-events: none;
                    transform: translateY(-20px);            
                }

                .notFocused {
                    transform: translateY(0);            
                }

                [class*="update-profile-form"], [class*="update-address-book"]:not(.update-address-book__header):not([class*="update-address-book__card"]) {
                    margin-top: 40px
                }

                .login-info, .personal-info, .add-address{
                    &__wrapper{
                        @include abstracts.flex-row(space-between);
                        align-items: baseline;

                        .input-wrapper{
                            min-width: 240px !important;
                        }
                        
                        [class^="update-profile-form"], [class^="update-address-book"]{
                            flex-grow: 1;
                            width: 50%;

                            &:first-of-type{
                                margin-right: 20px;
                            }
                        }
                    }

                    &__header{
                        h1{
                            @include abstracts.flex-row(flex-start);

                            span.edit-icon, span.cancel-icon{
                                @include abstracts.disable-select;

                                margin-left: 5px;
                                margin-top: 1px;

                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .update-address-book, .update-payment-methods{
                p{
                    opacity: 0.6;
                    font-size: calc(1rem - 2.5px);
                }

                .no-addresses, .no-payments, .found-addresses{
                    @include abstracts.flex-column(center);

                    position: relative;
                    width: calc(50vw + 20px);
                    min-width: 520px;

                    padding: abstracts.$padding-md*2 10px;
                    margin-top: 10px;

                    background-color: abstracts.$light-gray-bg;
                    .create-address__button-light, .create-payment__button-light{
                        min-width: 250px;
                        width: 20vw;
                    }
                }

                .found-addresses{
                    div{
                        margin-top: 0;
                    }
                }

                .address-line{
                    margin-left: 5px;
                    opacity: 0.5;
                }
            }

            [class$="__header"]{
                padding-bottom: 10px;

                p{
                    opacity: 0.6;
                    font-size: calc(abstracts.$padding-md - 2.5px);
                }
            }

            h1{
                font-size: abstracts.$padding-md*0.9;
                letter-spacing: 1px;
                word-spacing: 2px;
                font-weight: 500;
                padding-bottom: 2px;
            }

            h4{
                font-size: calc(abstracts.$padding-md - 2.5px);
                letter-spacing: 1px;
                word-spacing: 2px;
                font-weight: 400;
            }

            .credentials__button__wrapper, .identity__button__wrapper, .add-address__button__wrapper{
                cursor: default;
                padding: 0;
                @include abstracts.flex-column(center);
                align-items: flex-start;

                button, [class*="__button"]{
                    min-width: 250px;
                    width: calc(50% - 10px);
                }

                .cancel-edit, .cancel-add-address{
                    cursor: pointer;
                    display: block;
                    margin-top: 10px;
                    font-size: calc(abstracts.$padding-md - 2.5px);
                    text-decoration: underline;
                }
            }
        }

        .__container{
            span{
                margin-top: 1px;
                font-size: abstracts.$padding-md*0.8;
                margin-right: 5px;
            }
        }

        .create-pw-field{
            width: fit-content;
            span{
                &:not(:last-of-type)::after{
                    font-size: abstracts.$padding-md*0.9;
                }
            }
        }

        .icon__wrapper{
            display: flex;
            align-items: center;
            
            &>span{
                display: flex;
                align-items: center;
                justify-content:center;
                width: 70px;
                height: 70px;
                margin-left: -35px;
                margin-top: -15px;
                border: solid 1px rgba(0,0,0,0.5);
                border-radius: 50%;
                background-color: abstracts.$light-gray-bg;
                cursor: pointer;

                &:hover{
                    transform: scale(1.1);
                }

                svg{
                    width: 25px;
                    height: 25px;
                    opacity: 0.7;
                }
            }
        }

        .update-address-book__card{
            margin-bottom: 15px;
            border: solid 1px rgba(0,0,0,0.5);
            padding: 20px;

            &__header {
                padding-bottom: 5px;
                
                p{
                    opacity: 0.9;
                }
            }

            &__wrapper{
                display: flex;

                .address__button {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    margin-right: 15px;
                    width: fit-content;
                    text-transform: capitalize;
                    font-size: calc(abstracts.$padding-md - 2.5px);
                    line-height: 1.11;
                    opacity: 0.4;
                    transition: 0.2s;

                    &:hover{
                        opacity: 0.8;
                    }

                    svg{
                        min-width: 17px;
                        min-height: 17px;
                        stroke-width: 0;
                        margin-right: 2px;
                        margin-bottom: 4px;
                    }

                    &:nth-child(2){
                        svg{
                            margin-right: 1px;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }

    }
}

.disclaimer {
    opacity: 0.6;
    font-size: calc(abstracts.$padding-md - 4px);
}

.checkbox, .disclaimer{
    .privacy-policy{
        text-decoration: underline;
        cursor: pointer;
    }
}

.section__account__content:has(.credentials.editing) .credentials.editing, .section__account__content:has(.identity.editing) .identity.editing{
    input{
        pointer-events: auto;
    }

    .hasError{
        width: fit-content;
    }
}