@use '../abstracts';

body:has(.section__change-password), body:has(.section__access-portal), body:has(.section__account){
    background-color: abstracts.$light-bg;

    header{
        .header__left, .header__right{
            visibility: hidden;
            display: none;
        }

        .user-portal__controls{
            justify-self: end;
            visibility: visible;
            display: block;
        }
    }
}

.user-portal__hidden{
    visibility: hidden;
    display: none;
}

.section__change-password, .section__access-portal{
    font-family: abstracts.$Poppins;
    font-size: 0.9rem;

    margin-top: 80px;

    .access-portal{
        width: 100%;
        @include abstracts.flex-column(center);

        &__login, &__create-account, &__reset-password{
            @include abstracts.flex-column(center);
            padding: 0;
        }

        .input-wrapper, &__login, &__create-account{
            width: 100%;
        }

        .reset-password-form .hasError{
            width: inherit;
        }

        &__header, .login-form, .forgot-password, .reset-password-form, .create-account-form, &__create-account__wrapper{
            min-width: 500px;
            width: 50vw;
            padding: abstracts.$padding-md*2 abstracts.$padding-md*3;
        }

        .login-form, .create-account-form, .reset-password-form, .forgot-password, &__create-account__wrapper{
            padding-top: 0;
        }

        &__login, &__create-account, .login-info, .personal-info{
            padding-bottom: abstracts.$padding-md*4;
        }

        &__create-account, .login-info, .personal-info, .create-account-form__tos{
            padding-top: abstracts.$padding-md*4;
        }

        .create-account-form:has(.login-info) {
            width: 100%;
            padding: 0;
        }
        
        .create-account-form, &.user-portal{
            @include abstracts.flex-column(center);

            .login-info, .personal-info, &__tos, &__btn__wrapper, &__return, .user-portal__header {
                width: 100%;
                @include abstracts.flex-column(center);
                margin-left: 0;
            }

            .login-info__header, .personal-info__header, &__email, &__password, &__first-name, &__last-name, &__phone, &__date-of-birth, .checkbox, .return-link, &__button-dark, .user-portal__header>h5, .user-portal__header>p, .disclaimer, &__btn__wrapper{
                min-width: 500px;
                width: 50vw;
            }

            .zig-zag-line{
                min-width: calc(500px - abstracts.$padding-md*3);
                width: 50vw;
                align-self: center;
            }

            .login-info__header, .personal-info__header, &__email, &__password, &__first-name, &__last-name, &__phone, &__date-of-birth, .checkbox, .return-link, &__btn__wrapper{
                padding: 0 abstracts.$padding-md*3;
            }

            .disclaimer{
                padding: 0 abstracts.$padding-md*3;
                display: block;
                visibility: visible;
            }

            &__btn__wrapper{
                button{
                    min-width: 350px;
                    width: 30vw;
                    align-self: flex-start
                }
            }

            .access-portal__quick-select{
                @include abstracts.flex-row(space-between);
                align-items: baseline;
                min-width: 500px;
                width: 50vw;
                padding-left: 0;
                padding-right: 0;

                .quick-select{
                    &__profile, &__order-preferences ,&__account{
                        margin: 0;
                    }
                }
            }
        }
    }
}

.access-portal{
    h5{
        font-size: abstracts.$padding-md*0.9;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-weight: 500;
        padding-bottom: 2px;
    }

    [class$="__header"]{
        padding-bottom: 10px;

        p{
            opacity: 0.6;
            font-size: calc(abstracts.$padding-md - 2.5px);
        }
    }

    .input-wrapper, .button__wrapper, .login-form__forgot-password{
        min-width: 250px;
        width: 50%;
        position: relative;
    }

    .button__wrapper:has(.retrieve-email__button-dark){
        margin-top: 15px;
    }

    form{
        [class*="login-form"]:not(:last-of-type), [class*="create-account-form"]:not([class*="create-account-form__btn__wrapper"]):not([class*="create-account-form__tos"]), [class*="reset-password-form"]{
            margin-top: 30px;
        }

        .create-account-form__date-of-birth, .create-account-form__phone{
            margin-top: 40px !important;

            input:hover{
                cursor: text;
            }
        }

        .input-wrapper>div{
            border-bottom: solid 1px rgba(0,0,0,0.5);
        }

        .input-wrapper:has(.hasError)>div{
            border-bottom-color: #F95738;
        }

        .hasError{
            line-height: 20px;
            color: #F95738;
            font-size: abstracts.$padding-md*0.8;
            opacity: 1 !important;
            width: max-content;
        }

        input{
            width: 100%;
            border: none;
            line-height: 25px;
            outline: none;
            background-color: abstracts.$light-bg;
            font-family: abstracts.$Poppins;
            font-size: abstracts.$padding-md*0.8;
        }

        input::placeholder{
            opacity: 0;
            transition: 0.2s;
        }

        input:focus::placeholder{
            opacity: 0.6;
        }

        label{
            font-size: abstracts.$padding-md*0.8;
            transition: 0.2s;
        }

        label:not(.checkbox-label){
            opacity: 0.6;
            line-height: 27px;
            position: absolute;
            top: 0;
            pointer-events: none;
        }

        .isFocused{
            transform: translateY(-20px);            
        }

        .login-form__forgot-password, .login-form__return, .create-account-form__return{
            p{
                width: fit-content;
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 2px;
                font-size: abstracts.$padding-md*0.8;
            }
        }

        .reset-password-form__return{
            cursor: pointer;
            text-underline-offset: 2px;
            font-size: abstracts.$padding-md*0.8;

            P{
                margin-top: 10px;
            }
        }

        .login-form__return{
            margin-top: 25px;
        }
    }
}

.access-portal__create-account:has(.create-account-form){
    padding: 0;
}

.access-portal:has(.create-account-form) .access-portal__header{
    padding-bottom: 0;
}

.create-account-form{
    margin-bottom: 30px;
    .zig-zag-line{
        height: 20px;
        width: 100%;
        background:  
            linear-gradient(135deg, abstracts.$light-bg 35%, transparent 35%) -10px 0,
            linear-gradient(225deg, abstracts.$light-bg 35%, transparent 35%) -10px 0,
            linear-gradient(315deg, abstracts.$light-bg 35%, transparent 35%),
            linear-gradient(45deg, abstracts.$light-bg 35%, transparent 35%);	
        background-size: 20px 20px;
        background-color: rgba(0,0,0,0.2);
    }

    .login-info, .personal-info, &__tos{
        padding: abstracts.$padding-md*2 abstracts.$padding-md*3;
    }

    &__return{
        padding: 10px abstracts.$padding-md*3;
        padding-bottom: abstracts.$padding-md*2;
        margin-top: 0 !important;
    }

    .login-info, .personal-info{
        border-bottom: solid 1px rgba(0,0,0,0.2);

        &__header, h5{
            padding-bottom: 0;
        }
    }

    .button__wrapper{
        margin-left: abstracts.$padding-md*3;
    }

    .disclaimer{
        margin: 30px abstracts.$padding-md*3;
        display: none;
        visibility: none;
    }

    .__container span{
        font-size: abstracts.$padding-md*0.8;
        margin-right: 5px;
        
        &:hover{
            cursor: default;
        }
    }

    &__tos{
        padding-bottom: 0;

        .checkbox{
            position: inherit;
            
            @include abstracts.disable-select;

            label{
                @include abstracts.flex-row(flex-start);
                align-items: start;
                cursor: pointer;

                .box{
                    display: inline-block;
                    position: relative;
                    min-width: 20px;
                    min-height: 20px;
                    margin-right: 5px;
                    border-color: black;
                    
                    #tosCheckbox{
                        -webkit-appearance: none;
                        appearance: none;

                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;

                        border: 1px solid rgba(0,0,0,0.5);
                        
                        cursor: pointer;
                    }

                    .icon{
                        svg{
                            position: absolute;
                            top: 0;
                            left: 0;
                            
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                p{
                    opacity: 0.6;
                    transition: 0.2s;
                }
            }
        }
    }
}

.access-portal, .section__account__content {
    .__container span:has(svg){
        margin: 0;

        @include abstracts.disable-select;

        svg{
            @include abstracts.flex-column(flex-end);
            
            min-width: 15px;
            min-height: 15px;
            color: rgba(0,0,0,0.6);
        }

        &:hover{
            cursor: pointer;
        }
    }

    .create-pw-field{
        line-height: 20px;
        font-size: abstracts.$padding-md*0.8;
        width: max-content;

        span{
            opacity: 0.5;
            padding-right: 10px;
            margin-right: 6px;
            position: relative;

            &:not(:last-of-type)::after{
                content: "|";
                font-size: abstracts.$padding-md*0.9;
                position: absolute;
                top: 0;
                right: 0;
            }

            &:nth-child(3){
                white-space: nowrap;
            }
        }
    }
}

.access-portal>div{
    padding: 2rem abstracts.$padding-md*3;
}

.access-portal__login{
    border-bottom: solid 1px rgba(0,0,0,0.2);
    padding-top: 0 !important;
}

.isChecked p{
    opacity: 1 !important;
    color: black !important;
}

.user-portal{
    .quick-select__header, .access-portal__header{
        border-bottom: solid 1px rgba(0,0,0,0.2);
        padding-bottom: abstracts.$padding-md*2;
    }

    .quick-select{
        &__profile, &__order-preferences, &__account{
            margin-top: abstracts.$padding-md*2;

            h5, a, div{
                font-size: calc(abstracts.$padding-md - 2px);
                text-decoration: none;
            }

            a, div{
                opacity: 0.6;

                &:hover{
                    opacity: 1;
                }
            }

            &__title{
                margin-bottom: 5px;

                h5{
                    letter-spacing: normal;
                }
            }
            
        }

        &__profile{
            margin-top: 0;
        }

        &__account{
            &__item:has(.user-portal__logout){
                margin-top: 10px;
                text-decoration: underline;
            }
        }
    }
    
    &__logout{
        span{
            width: fit-content;
            cursor: pointer;

            @include abstracts.flex-row(space-between);
                
            svg{
                width: 20px !important;
                height: 20px !important;
                margin-left: 5px
            }
        }

        &:has(span:hover){
            opacity: 1;
        }
    }
}
