@use '../abstracts';

.section{
    &__spacer{
        height: 150px;
        background-color: abstracts.$light-bg;
    }
}

.catalog{
    &__description{
        position: relative;
        background-color: abstracts.$light-bg-two;
        padding: abstracts.$padding-md*2;
        font-family: abstracts.$Lato;

        &:before{
            content:"";
            position: absolute;
            left: 0;
            top: -30px;
            width: 0;
            height: 0;
            border-bottom: 30px solid abstracts.$light-bg-two;
            border-right: 50vw solid transparent;
        }

        &:after{
            content:"";
            position: absolute;
            right: 0;
            top: -30px;
            width: 0;
            height: 0;
            border-bottom: 30px solid abstracts.$light-bg-two;
            border-left: 50vw solid transparent;
        }

        svg{
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            left: 50%;
            transform: translate(-50%);
        }

        &>*{
            max-width: 65%;
        }

        &__title{
            font-family: abstracts.$Poppins;
            font-weight: 500;
            margin-bottom: abstracts.$padding-md;
            word-spacing: 3px;
        }

        &__text{
            font-size: abstracts.$padding-md*0.9;
            line-height: abstracts.$padding-md*1.5;
        }
    }

    &__list {
        font-family: abstracts.$Lato;
        min-height: 40vh;
        width: 100%;
        

        @include abstracts.clr(abstracts.$light-bg);

        &__header__container{
            position: relative;
            padding: abstracts.$padding-md*2;
            font-size: abstracts.$padding-md*0.9;
            border: solid 1px rgba(0,0,0,0.4);
            border-left: 0;
            border-right: 0;
        }

        &__path{
            @include abstracts.flex-row(space-between);

            a{
                color: black;
                text-underline-offset: 2px;
            }

            div:not(:last-child)::after{
                content: "/";
                padding: 0 8px;
            }

            div:last-child a{
                text-decoration: none;
            }
        }
        
        &__filters__container{
            .product__container{
                color: rgba(0,0,0,0.6);
                border-right: solid 1px rgba(0,0,0,0.6);

                .product__count{
                    margin-right: 5px;
                }
            }

            [class$="__button"]{
                @include abstracts.flex-row(space-between);
                font-weight: 500;
                
                @include abstracts.disable-select;
            }

            li:not(:last-child), .product__text{
                margin-right: abstracts.$padding-md*1.2;
            }

            svg{
                margin-top: 2px;
                width: 22px;
                height: 22px;
                margin-left: 4px;
                stroke-width: 1.5px;
            }
        }

        &__options__dropdown{
            background-color: abstracts.$light-bg;
            top: calc(100% + 1px);
            align-items: flex-end;
            flex-direction: column;

            li{
                padding: abstracts.$padding-md*0.7 abstracts.$padding-md*2;
                width: fit-content;
            }

            li:first-child{
                margin-top: abstracts.$padding-md*2;
            }

            li:last-child{
                margin-bottom: abstracts.$padding-md*3;
            }
        }

        &__cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // gap: 3px;
        }
        
    }
}