@use '../abstracts';

$nav-width: 15vw;
$gap: 2px;

body:has(.catalog) {
    header {
      justify-content: flex-end;
      border-bottom: solid 1px rgba(0,0,0,0.1);
      background-color: abstracts.$main-bg;
        
      .header__left {
        visibility: hidden;
        display: none;
      }
      .header__right{
        justify-self: end;
      }

      position: sticky;
      top: 0;
      z-index: 100;
    }

    .header button{
        background-color: transparent;
    }
    
  }

.section{
    &__spacer{
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 600;
            color: #3c3c3c;
            font-family: abstracts.$Lato;
            font-size: 18px;
            font-style: italic;
            letter-spacing: 1px;

            span{
                margin-left: 10px;
            }
        }
    }
}

.catalog-content{
    position: relative;
    display: flex;
    font-family: abstracts.$Lato;

    svg{
        @include abstracts.disable-select;
        cursor: pointer;
    }
}

.catalog-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;

    height: calc(100vh - 60px);

    padding: abstracts.$padding-md*2;
    border-right: solid 1px rgba(0,0,0,0.1);

    background-color: abstracts.$light-bg;
    z-index: 100;

    ul{
        margin-bottom: 30px;

        & [class$="__option"]{
            margin-left: 10px;
            min-width: max-content;
        }
    }

    svg{
        position: absolute;
        width: 50px;
        height: 50px;
        top: -25px;
        z-index: 50;
        left: calc(50% - 25px);
    }

}

.catalog-nav.expanded{
    min-width: 250px;
    max-width: $nav-width;

    font-size: abstracts.$padding-md * 0.83;
}

.catalog-nav.not-expanded{
    $nav-width: 6vw;
    min-width: 80px;
    max-width: $nav-width;

    font-size: abstracts.$padding-md * 0.83;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .vertical-text{
        padding: abstracts.$padding-md*3 abstracts.$padding-md*1.5 ;
        @include abstracts.disable-select;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: abstracts.$Poppins;
        font-size: abstracts.$padding-md*1.3;
        font-weight: 300;
        word-spacing: 10px;
        letter-spacing: 2px;
        height: 100%;
        cursor: pointer;
        text-align: end;
    }
}

body:has(.catalog-nav.catalog-nav.not-expanded) .catalog__description{
    $nav-width: 6vw;

    &:before{
        border-right: calc(50vw - $nav-width) solid transparent;
    }

    svg{
        left: calc(50vw - $nav-width - 25px);
    }
}

.catalog-content{
    border-top: solid 1px rgba(0,0,0,0.1);
}

.catalog{
    flex: 1;
    // width: 100%;
    &__description{
        position: relative;
        background-color: abstracts.$light-bg-two;
        padding: abstracts.$padding-md*2;

        &>*{
            max-width: 65%;
        }

        &__title{
            font-family: abstracts.$Poppins;
            font-weight: 500;
            margin: abstracts.$padding-md*0.75 0;
            word-spacing: 3px;
        }

        &__text{
            font-size: abstracts.$padding-md*0.9;
            line-height: abstracts.$padding-md*1.5;
        }
    }

    &__list {
        min-height: 40vh;
        width: 100%;
        
        @include abstracts.clr(abstracts.$light-bg);

        &__header__container{
            position: -webkit-sticky;
            position: sticky;
            top: 60px;
            z-index: 1000;

            background-color: abstracts.$main-bg;
            padding: abstracts.$padding-md*2;
            font-size: abstracts.$padding-md*0.9;
            border-bottom: solid 1px rgba(0,0,0,0.2);
        }

        &__path{
            @include abstracts.flex-row(space-between);

            a{
                color: black;
                text-underline-offset: 2px;
            }

            div:not(:last-child)::after{
                content: "/";
                padding: 0 8px;
            }

            div:last-child a{
                text-decoration: none;
                cursor: text;
            }
        }
        
        &__filters__container{
            .product__count__container{
                color: rgba(0,0,0,0.6);
                border-right: solid 1px rgba(0,0,0,0.6);

                .product__count__text{
                    margin-right: 5px;
                }
            }

            [class$="__button"]{
                @include abstracts.flex-row(space-between);
                font-weight: 500;
                
                @include abstracts.disable-select;
            }

            li:not(:last-child), .product__text{
                margin-right: abstracts.$padding-md*1.2;
            }

            svg{
                margin-top: 2px;
                margin-left: 4px;
                stroke-width: 1.5px;
                color: rgba(0,0,0,0.7);
            }
        }

        &__cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // gap: $gap;
            background-color: abstracts.$main-bg;
        }
        
    }
}

.catalog-nav, .dropdown-long{
    [class*="__title"]{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: abstracts.$padding-md*0.9;
        margin: abstracts.$padding-md*0.75 0;
    }

    [class$="__option"]{
        margin-bottom: abstracts.$padding-md*0.75;
        cursor: pointer;
        width: fit-content;

        &:hover{
            opacity: 0.6;
        }
    }
}

.cards__load-more{
    text-align: center;
    width: 300px;
    padding: calc(abstracts.$padding-md / 1.3);
    margin-top: calc(abstracts.$padding-md/2);
    text-transform: uppercase;
    border: solid black 1px;
    cursor: pointer;

    &__wrapper{
        @include abstracts.flex-row(center);
        width: 100%;
        padding: 10px;
        padding-bottom: 30px;
        background-color: white;
    }

    &.disabled{
        @include abstracts.disable-select;
        opacity: 0.3;
        cursor: default;
    }
}