@use '../abstracts';

$nav-width: 15vw;
$gap: 2px;

.section{
    &__spacer{
        height: 13vh;
        // background-color: abstracts.$light-bg;
    }
}

.catalog-content{
    position: relative;
    display: flex;
    font-family: abstracts.$Lato;
    gap: $gap;

    svg{
        @include abstracts.disable-select;
        cursor: pointer;
    }
}

.catalog-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    height: 60vh;

    padding: abstracts.$padding-md*2;
    padding-top: abstracts.$padding-md*4;
    margin-top: abstracts.$padding-md*-2;

    background-color: abstracts.$light-bg;

    ul{
        margin-bottom: 30px;
    }

}

.catalog-nav.expanded{
    min-width: $nav-width;
    max-width: $nav-width;

    font-size: abstracts.$padding-md * 0.83;

    svg{
        position: absolute;
        width: 50px;
        height: 50px;
        top: calc(100% - 25px);
        z-index: 50;
        // transform: rotate(90deg);
        left: calc($nav-width/2 - 25px);
        transform: rotate(180deg);
    }

    &:before{
        content:"";
        position: absolute;
        left: 0;
        top: -30px;
        width: 0;
        height: 0;
        border-bottom: 30px solid abstracts.$light-bg;
        border-right: calc($nav-width ) solid transparent;
    }
}

.catalog-nav.not-expanded{
    $nav-width: 6vw;
    min-width: $nav-width;
    max-width: $nav-width;

    font-size: abstracts.$padding-md * 0.83;

    display: flex;
    justify-content: center;
    align-items: end;

    svg{
        margin: 0 2rem;
        position: absolute;
        width: 50px;
        height: 50px;
        top: calc(100% - 25px);
        z-index: 50;
        // left: calc($nav-width/2 - 25px);
        transform: rotate(180deg);
    }

    &:before{
        content:"";
        position: absolute;
        left: 0;
        top: -30px;
        width: 0;
        height: 0;
        border-bottom: 30px solid abstracts.$light-bg;
        border-right: calc($nav-width ) solid transparent;
    }

    .vertical-text{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: abstracts.$Poppins;
        font-size: abstracts.$padding-md*1.3;
        font-weight: 300;
        word-spacing: 10px;
        letter-spacing: 2px;
        margin-bottom: abstracts.$padding-md*2;
    }
}

body:has(.catalog-nav.catalog-nav.not-expanded) .catalog__description{
    $nav-width: 6vw;

    &:before{
        border-right: calc(50vw - $nav-width - $gap) solid transparent;
    }

    svg{
        left: calc(50vw - $nav-width - 25px - $gap);
    }
}

.catalog{
    // width: 100%;
    &__description{
        position: relative;
        background-color: abstracts.$light-bg-two;
        padding: abstracts.$padding-md*2;

        &:before{
            content:"";
            position: absolute;
            left: 0;
            top: -30px;
            width: 0;
            height: 0;
            border-bottom: 30px solid abstracts.$light-bg-two;
            border-right: calc(50vw - $nav-width - $gap) solid transparent;
        }

        &:after{
            content:"";
            position: absolute;
            right: 0;
            top: -30px;
            width: 0;
            height: 0;
            border-bottom: 30px solid abstracts.$light-bg-two;
            border-left: calc(50vw) solid transparent;
        }

        svg{
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            left: calc(50vw - $nav-width - 25px - $gap);
            // transform: translate(-50%);
            z-index: 50;
        }

        &>*{
            max-width: 65%;
        }

        &__title{
            font-family: abstracts.$Poppins;
            font-weight: 500;
            margin: abstracts.$padding-md*0.75 0;
            word-spacing: 3px;
        }

        &__text{
            font-size: abstracts.$padding-md*0.9;
            line-height: abstracts.$padding-md*1.5;
        }
    }

    &__list {
        min-height: 40vh;
        width: 100%;
        
        @include abstracts.clr(abstracts.$light-bg);

        &__header__container{
            background-color: abstracts.$main-bg;
            position: relative;
            padding: abstracts.$padding-md*2;
            font-size: abstracts.$padding-md*0.9;
            // border: solid 1px rgba(0,0,0,0.4);
            // border-left: 0;
            // border-right: 0;
        }

        &__path{
            @include abstracts.flex-row(space-between);

            a{
                color: black;
                text-underline-offset: 2px;
            }

            div:not(:last-child)::after{
                content: "/";
                padding: 0 8px;
            }

            div:last-child a{
                text-decoration: none;
                cursor: text;
            }
        }
        
        &__filters__container{
            .product__count__container{
                color: rgba(0,0,0,0.6);
                border-right: solid 1px rgba(0,0,0,0.6);

                .product__count__text{
                    margin-right: 5px;
                }
            }

            [class$="__button"]{
                @include abstracts.flex-row(space-between);
                font-weight: 500;
                
                @include abstracts.disable-select;
            }

            li:not(:last-child), .product__text{
                margin-right: abstracts.$padding-md*1.2;
            }

            svg{
                margin-top: 2px;
                margin-left: 4px;
                stroke-width: 1.5px;
                color: rgba(0,0,0,0.7);
            }
        }

        &__cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $gap;
            background-color: abstracts.$main-bg;
        }
        
    }
}

.catalog-nav, .dropdown-long{
    [class*="__title"]{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: abstracts.$padding-md*0.9;
        margin: abstracts.$padding-md*0.75 0;
    }

    [class$="__option"]{
        margin-bottom: abstracts.$padding-md*0.75;
        cursor: pointer;
        width: fit-content;

        &:hover{
            opacity: 0.6;
        }
    }
}