@use '../abstracts';
@use '../components';

.header{
    //
    // width: 80%;
    // position: absolute;
    // margin-top: 30px;
    // left: 50%;
    // transform: translate(-50%, 0);
    // border-radius: 50px;
    //

    padding: abstracts.$padding-md abstracts.$padding-md*7;
    //padding-top: 0;
    
    @include abstracts.clr(abstracts.$light-bg);

    font-family: abstracts.$Lato;
    font-weight: 500;
    font-size: 0.9rem;
    
    @include abstracts.flex-row(space-between);

    &__left{
        .header-list__item{
            margin: 0 calc(abstracts.$padding-md/2);
        }
    }

    .header-list{
        @include abstracts.flex-row(space-around);

        &__item{
            padding: calc(abstracts.$padding-md/2);

            max-width: max-content;
            max-height: 46px;
        }

        &__link, &__dropdown__button{
            @include abstracts.link(black);

            svg{
                width: 25px;
                height: 25px;
            }

            &:hover{
                opacity: 0.6;
            }
        }

        &__dropdown{
            &__button{
                @include abstracts.div-button(none, abstracts.$light-bg);
            }

        }

        h4{
            font-weight: 600;
        }
    }
}

[class$="__container"] {
    @include abstracts.flex-row(space-between);
}

[class$="__container__start"] {
    @include abstracts.flex-row(flex-start);
}

[class$="-right"] {
    padding-right: 10px;
}


.country-flag{
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;

    img{
        position: absolute;
        z-index: 100;
        left: -12%;
        top: -12%;
    }
}

.settings-bar{
    @include abstracts.flex-row(flex-end);
    @include abstracts.clr(abstracts.$light-bg);

    padding: 0 abstracts.$padding-md*7;

    .settings__dropdown{
        &__button{
            @include abstracts.flex-row(space-between);

            @include abstracts.div-button(none, abstracts.$light-bg);

            padding: calc(abstracts.$padding-md/2);
            
            .settings-svg{
                width: 25px;
                height: 25px;
            }
        }
        
        &__label{
            padding: 3px;
            font-family: abstracts.$Poppins;
            font-size: calc(abstracts.$padding-md/1.2);
            font-weight: 500;
        }

    }
}