@use '../abstracts';
@use '../components';

.header{
    position: relative;
    padding: 0 abstracts.$padding-md*7;
    
    @include abstracts.clr(abstracts.$light-bg);

    font-family: abstracts.$Lato;
    font-weight: 500;
    font-size: 0.9rem;
    
    height: 60px;

    @include abstracts.flex-row(space-between);

    &__left{
        padding: abstracts.$padding-md 0;
        .header-list{
            &__item{
                margin: 0 calc(abstracts.$padding-md/2);

                &__options__dropdown{
                    padding: 3rem 5rem;
                    border: solid 1px rgba(0,0,0,0.3);
                    border-left: none;
                    border-right: none;
                    font-size: abstracts.$padding-md*0.8;
                    background-color: abstracts.$light-bg;
                    top: 100%;
                    justify-content: space-around;
                    min-height: 34vh;
                }
            }
        }
    }

    &__center{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        svg{
            width: 95px;
            height: 43px;
        }
    }

    .header-list{
        @include abstracts.flex-row(space-around);

        &__item{
            padding: calc(abstracts.$padding-md/2);

            max-width: max-content;
            max-height: 46px;
        }

        &__link, &__dropdown__button{
            @include abstracts.link(black);

            svg{
                width: 25px;
                height: 25px;
            }

            &:hover{
                opacity: 0.6;
            }
        }

        &__dropdown{
            &__button{
                @include abstracts.div-button(none, abstracts.$light-bg);
            }

        }

        h4{
            font-weight: 600;
        }
    }
}

.settings-bar{
    @include abstracts.flex-row(flex-end);
    @include abstracts.clr(abstracts.$light-bg);

    padding: 0 abstracts.$padding-md*7;

    .settings__dropdown{
        &__button{
            @include abstracts.flex-row(space-between);

            @include abstracts.div-button(none, abstracts.$light-bg);

            padding: calc(abstracts.$padding-md/2);
            
            .settings-svg{
                width: 25px;
                height: 25px;
            }
        }
        
        &__label{
            padding: 3px;
            font-family: abstracts.$Poppins;
            font-size: calc(abstracts.$padding-md/1.2);
            font-weight: 500;
        }

    }
}