@use '../abstracts';

.notice{
    @include abstracts.clr(abstracts.$dark-bg);

    font-family: abstracts.$Poppins;

    height: 50px;
    align-content: center;

    cursor:pointer;
    &__heading{
        font-size: abstracts.$padding-md*0.9;
        align-self: center;
        font-weight: 200;
        word-spacing: 0.1rem;
        letter-spacing: 0.1rem;
    }
}

.scroller {
    overflow: hidden;

    &__inner{
        width: max-content;
        @include abstracts.flex-row(start);
        gap: abstracts.$padding-md*6;
        
        @include abstracts.scroll-animation(50s) {
            to {
                transform: translate(calc(-50% - abstracts.$padding-md*3));
            }
        }

    }

    &:hover &__inner, body:has(.modal-active) &__inner{
        animation-play-state: paused;
    }
}

 .notice{
    padding: abstracts.$padding-md*0.75;

    &:has(.notice__no-content){
        height: 10px;
        margin-bottom: 15px;
        background-color: abstracts.$gray-bg;
    }
}

