@use '../abstracts';

.notice{
    @include abstracts.clr(abstracts.$dark-bg);

    font-family: abstracts.$Poppins;

    cursor:pointer;
    &__heading{
        font-size: 0.9rem;
        font-weight: 200;
        padding: abstracts.$padding-md*0.5;
        word-spacing: 0.1rem;
        letter-spacing: 0.1rem;
    }
}

.scroller {
    overflow: hidden;

    &__inner{
        width: max-content;
        @include abstracts.flex-row(start);
        gap: abstracts.$padding-md*6;
        
        @include abstracts.scroll-animation(50s) {
            to {
                transform: translate(calc(-50% - abstracts.$padding-md*3));
            }
        }
    }
}

body:has(.section__catalog) .notice{
    padding: abstracts.$padding-md*0.75;

}

