@use '../abstracts';

// [class$="__card"]{
//     padding: abstracts.$padding-md*2;
// }

.catalog__card{
    // padding: 0;
    position: relative;
    list-style: none;
    background-color: abstracts.$main-bg;
    // outline: solid 1px rgba(0,0,0,0.2);
    // outline-offset: -1px;

    &__image{
        img{
            width: 100%;
        }
    }

    &__info{
        padding: abstracts.$padding-md;
        font-size: 0.9rem;

        [class*="card__item"]{
            margin: 5px 0;
        }

        .card__item__arrival{
            margin-top: 15px;
            font-style: italic;
            font-size: 0.8rem;
        }
    }

    &:hover{
        cursor: pointer;
        // outline-color: black;
    }

    .favorite{
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        z-index: 100;
        background-color: transparent;

        svg{
            stroke-width: 0;
            width: 27px;
            height: 27px;
        }

    }
}
