@use '../abstracts';

// [class$="__card"]{
//     padding: abstracts.$padding-md*2;
// }

.catalog__card{
    // padding: 0;
    position: relative;
    list-style: none;
    outline: solid 1px transparent;

    &__image{
        img{
            width: 100%;
        }
    }

    &__info{
        padding: abstracts.$padding-md;
        font-size: 0.9rem;

        [class*="card__item"]{
            margin: 5px 0;
        }

        .card__item__arrival{
            font-style: italic;
            font-size: 0.8rem;
        }
    }

    &:hover{
        cursor: pointer;
        outline-color: black;
        outline-offset: -1px;
    }

    .favorite{
        border: none;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 10px;
        z-index: 100;
        background-color: transparent;

        svg{
            stroke-width: 0;
            width: 27px;
            height: 27px;
        }

    }
}
