@use '../abstracts';

[class*="dropdown"]{
    &.inactive{
        display: none;
    }
}

.dropdown{
    position: absolute;
    padding: calc(abstracts.$padding-md/2);
    margin-top: abstracts.$padding-md - calc(abstracts.$padding-md/2);
    margin-left: -(calc(abstracts.$padding-md/3));

    border: solid 1px abstracts.$dark-bg;
    
    @include abstracts.clr(abstracts.$light-bg);

    z-index: 50;

    &.active{
        display: block;
    }

    &.inactive{
        display: none;
    }

    &__list-item{
        padding: 5px 2px;
        min-width: 60px;
        font-family: abstracts.$Dosis;
        font-size: abstracts.$padding-md * 0.9;
        font-weight: 500;
        cursor: pointer;
        @include abstracts.flex-row(space-between);

        &:hover{
            text-decoration: underline;
        }
    }

    &__container{
        width: 100%;
    }

    &__break{
        padding: 5px 0;

        hr{
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    &:has(.shop-cart-item){
        left: 80%;
        font-size: calc(abstracts.$padding-md/1.3);

        [class$="__text"] {
            font-size: calc(abstracts.$padding-md/1.5);
            padding: 5px;
            padding-left: 0;
        }

    }

    img{
        width: 75px;
        height: 100px;
        object-fit: cover;
    }
}

.dropdown-block{
    padding: 10px;
    font-size: 0.8rem;
    
    &.active{
        display: block;
    }

    &.inactive{
        display: none;
    }
}

.dropdown-long{
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 101;
    left: 0;

    li{
        a{
            @include abstracts.link(black);

            &:hover{
                opacity: 0.6;
            }
        }
    }

    &.active{
        display: flex;
    }

}