@use 'sass:math';

@mixin flex-row($spacing){
    display: flex;
    justify-content: $spacing;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@mixin link($color){
    text-decoration: none;
    color: $color;
}

// Dynamic color
@function set-text-color($color){
    @if (lightness($color) > 50) {
        @return black;
    } @else {
        @return white;
    }
}

@mixin clr($color){
    background-color: $color;
    color: set-text-color($color);
}
//

@function div($value, $number) {
    @return math.div($value, $number);
}

@mixin scroll-animation($duration) {
    @keyframes scroll {
        @content
    }

    animation-name: scroll;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@mixin div-button($border, $color){
    border: $border;
    cursor: pointer;

    background-color: $color;
    color: set-text-color($color);
}